#logo-name {
    color:black;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px ;
}

a.nav-link {
    flex-direction: row;
    justify-content: flex-end;
}

#wallpaper {
    position: fixed;
    height: auto;
    width: fit-content;
    backdrop ;
}

.text-center {
    text-emphasis: center;
}

.container {

}

.footer {
    bottom: 0;
    position: absolute;
}