#logo-name {
    color:black;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp4047726.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
}

.wallpaper {
    position: fixed;
    width: 100%;
    padding-top: 4%;    
}

.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 25px ;
}

#navbarNav {
    flex-direction: row;
    justify-content: flex-end;
}

.container {
    margin: 10px;
    margin-right: auto;
}

.jumbotron {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.display-4 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: xx-large;
    font-weight: 500;
}

input {
    width: max-content;
}

.socials {
    padding: 20px;
}

.img-responsive {
    max-width: 50%;
    height: auto;
    width: auto;
    float: left;
    margin-right: 10px;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 0;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.btn {
    background-color:rgb(73, 2, 2);
    border-color: black;
}

.footer {
    width:100%;
    bottom: 0;
    background-color: rgb(53, 53, 53);
    border-style: solid;
    border-top-color: rgb(73, 2, 2);
    position: fixed;
}

.text-center text-muted {
    text-align: center;
}